header.mdc-top-app-bar {
    background-color: #FF7C7A;
    color: white;
    height: 64px;
    /* Remove the width property */
}

.mdc-top-app-bar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mdc-top-app-bar__section--align-start {
    margin-left: 16px;
}

.mdc-top-app-bar__section--align-end {
    margin-right: 16px;
    /* Add margin-right for balance */
}

/* Navigation Styles*/
.mdc-top-app-bar__section--align-end nav {
    margin: 0;
    padding: 0;
}

.mdc-top-app-bar__section--align-end nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.mdc-top-app-bar__section--align-end nav li {
    margin-left: 32px;
}

.mdc-top-app-bar__section--align-end nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.mdc-top-app-bar__section--align-end nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mdc-top-app-bar__section--align-end nav a.active {
    background-color: #0df9ae
}

main {
    padding-top: 64px;
}